<script type="text/javascript"  charset="utf-8" th:src="@{/js/lib/compress/pjax.min.js}"></script>
<script type="text/javascript"  th:src="@{/npm/mdui@0.4.3/dist/js/mdui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/common.min.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/skins/solo-nexmoe/js/app.js}"></script>
<script type="text/javascript" th:src="@{/npm/lazysizes@5.1.0/lazysizes.min.js}"></script>
<script type="text/javascript" th:src="@{/skins/solo-nexmoe/js/common.js}" charset="utf-8"></script>