<div id="nexmoe-background">
    <div class="nexmoe-bg" th:style="'background-image:url(/images/bg2.jpg);opacity: .7;'"></div>
    <div class="mdui-appbar mdui-shadow-0">
        <div class="mdui-toolbar">
            <a href="#" mdui-drawer="{target: '#drawer', swipe: true}" title="menu" class="mdui-btn mdui-btn-icon">
                <i class="mdui-icon  iconfont solo-list"></i>
            </a>
            <div class="mdui-toolbar-spacer"></div>
            <a href="/" th:title="'綄羙的博客'"  class="mdui-btn mdui-btn-icon">
                <img  th:src="@{/u/23192332-4.jpg}" th:title="'綄羙的博客'" th:alt="'綄羙的博客'" ></a>
        </div>
    </div>
</div>